{% extends 'sequencelistings/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{%block header_block %}
    <h2>About</h2>
{% endblock %}

{% block body_block %}
    <div>
    <p>This website has been built <strong>only for information purposes</strong>.</p>
    <p>No rights can be derived from visiting, registering and/or exploring the functionality of this website.</p>
    <p>This is a prototype. There is no guarantee that a sequence listing you have created today will be available to you in a subsequent session.
 Be aware that a sequence listing created in one session might be lost once you closed the session.</p> 
    <p>Downtime and database reset will occur without prior notice.</p>

    <img  width="90" height="100" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
    </div>
{% endblock %}