<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{%block header_block %}
    <h2>Add new sequence</h2>
{% endblock %}

{% block body_block %}
<p><a href="{% url 'sequencelistings:index' %}">Home &gt;&gt;</a>
<a href="{% url 'sequencelistings:detail' pk %}">{{seql}} &gt;&gt;</a>
</p>

<hr>
<p>
<strong>Note:</strong> In addition to the standard residues symbols, <strong>Residues</strong> field accepts formulas. For example, 'cgt(cgta)4..6gt' will be expanded to the longest possible sequence (in this case, 'cgta' group will be repeated 6 times).
</p>
<form action="{% url 'sequencelistings:add_seq' pk %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <p><input type="submit" value="Submit" /></p>
    
</form>
{% endblock %}