<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{%block header_block %}
    <h2>Feature: {{feature.featureKey}} at location {{feature.location}}</h2>
    <h2>Add new qualifier</h2>
{% endblock %}

{% block body_block %}
<p><a href="{% url 'sequencelistings:index' %}">Home &gt;&gt;</a>
<a href="{% url 'sequencelistings:detail' pk %}">{{feature.sequence.sequenceListing}} &gt;&gt;</a>
<a href="{% url 'sequencelistings:sequence' pk spk %}">SEQ.ID.NO. {{feature.sequence.sequenceIdNo}} &gt;&gt;</a>

</p>
<hr>
<form action="{% url 'sequencelistings:add_qualifier' pk spk fpk %}" method="post">
    {% csrf_token %}
    <table>
        {{form.as_table }}
    </table>
    <br>
    <p><input type="submit" value="Submit" /></p>
</form>
{% endblock %}