<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{%block header_block %}
    <h2>SEQ.ID.NO. {{seq.sequenceIdNo}}</h2>
    <h2>Add new feature</h2>
{% endblock %}

{% block body_block %}
<p><a href="{% url 'sequencelistings:index' %}">Home &gt;&gt;</a>
<a href="{% url 'sequencelistings:detail' seq.sequenceListing.pk %}">{{seq.sequenceListing}} &gt;&gt;</a>
<a href="{% url 'sequencelistings:sequence' seq.sequenceListing.pk seq.pk %}">SEQ.ID.NO. {{seq.sequenceIdNo}} &gt;&gt;</a>
</p>

<hr>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <p><input type="submit" value="Submit" /></p>
</form>

<br>
    <p>
    <a href="{% url 'sequencelistings:add_multiple_feature' seq.sequenceListing.pk seq.pk %}"><span  class="addFeatureLink">Add multiple feature</span></a>

    </p>
    <br>

{% endblock %}