<!DOCTYPE html>
{% extends 'sequencelistings/base.html' %}

{%block header_block %}
    <h2>Create a sequence listing</h2>
{% endblock %}

{% block body_block %}
<p>This section enables you to start creating a sequence listing. </p>
<p>In this page you have to provide data for the general information part of the sequence listing.</p>

<form action="{% url 'sequencelistings:add_sequencelisting' %}" method="post">
    {% csrf_token %}
    <table>
        {{ title_form.as_table }}
    </table>
    <hr>
    
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}